@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* ## Layout */

/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */


/* ## Colors */

/* ### Primary */

:root {
--primary-100: hsl(193, 38%, 86%);
--primary-200: hsl(150, 100%, 66%);

/* ADDED THESE FOR ANIMATION */
--primary-300: hsl(150, 100%, 56%);
--primary-400: hsl(150, 100%, 86%);


/* ### Neutral */

--neutral-100: hsl(217, 19%, 38%);
--neutral-200: hsl(217, 19%, 24%);
--neutral-300: hsl(218, 23%, 16%);

/* ## Typography */

/* ### Body Copy */

/* - Font size (quote): 28px */

/* ### Font */

--ff-primary: "Manrope", sans-serif;
--fw-800: 800
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* UTILITIES */

.primary-clr {
    color: var(--primary-200);
}
/* END OF UTILITIES */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--ff-primary);
    background-color: var(--neutral-300);
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-200);
    border-radius: 20px;
    padding: 2.5rem 2rem;
    max-width: 40%;
    color: var(--primary-100);
    font-weight: var(--fw-800);
}

/* QUOTE */

.advice-tag {
    text-transform: uppercase;
    letter-spacing: 6px;
}
.quote {
    font-size: 28px;
}

/* DICE */


.dice {
    background-color: var(--primary-200);
    border-radius: 100px;
    border: none;
    padding: 1rem 1.25rem;
    position: relative;
    margin-top: auto;
    top: 70px;
    cursor: pointer;
    animation: glowing 1300ms infinite;
}

.dice-icon {
    color: var(--neutral-300);
    text-align: center;
}

/* ANIMATIONS */

@keyframes glowing {
    0% {
      background-color: var(--primary-200);
      box-shadow: 0 0 3px var(--primary-200);
    }
    50% {
      background-color: var(--primary-300);
      box-shadow: 0 0 10px var(--primary-300);
    }
    100% {
      background-color: var(--primary-200);
      box-shadow: 0 0 3px var(--primary-200);
    }
  }


  /* MOBILE SECTION */
  @media screen and (max-width: 720px) {
    .container {
        max-width: 100%;

    }
  }
/*  */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }